
  
  /* Control the right side */
  
  .addnewclass {
      margin-top: 50px;
     
  }

  .inputsize{
      margin-top: 20px;
width: 30%
  }

  .submitnewclass {
    margin-top: 5px;
    width: 30%;
}

.selectlist{
    width: 60%;
   
}