
.column {
  float: left;
  width: 50%;
  border-style: solid;
  border-width: 7px;
 padding: 50px;
 border-color: #df8107;
 margin-top:20px;
}

/* Clear floats after the columns */


.classdetails{
  margin-bottom: "200px";
  color: #ffffff
}

.row:after {
 
  content: "";
  display: table;
  clear: both;
}
.selectlist {
width:340px

}