body {
  background-image: url("./background.jpg");
    
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0px 15px 0 15px;
  padding: 10%;
  font-family:  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerChildren {
  text-align: center;
}