#Dropdown {
  line-height: 67px;
  border: 0px;
  outline: 0px;
  margin-left: 3%;
  position: relative;
  background-color: transparent;
  color: #ffffff;
}
#Dropdown:hover {
  background-color: darkcyan;
}

.DropdownMenu {
  background-color: #df8107;
  color: #ffffff;
  font-size: 20px;
}

.DropdownItem {
  color: #ffffff;
}
.buttonadjust{
  
}
.link-1 {
  transition: 0.7s ease;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 6px solid #df8107;
  border-bottom: 6px solid #df8107;
  padding: 20px 0;
  margin: 0 2px;
}
.link-1:hover {
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  padding: 6px 0;
  background-color: #df8107;
}

.logout {
  margin-bottom: 10px;
}

.search {
  vertical-align: middle;
  height: 25px;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}
.searchbutton {
  border-left: none;
  border-right:none;
  border-image: none;
  -webkit-appearance:none;
  line-height: none;
  box-sizing: none;
  height: 40px

}
.seperator {
  border-center: 6px dashed #df8107;
}

.nav {
  line-height: 80px;
  margin-bottom: 5%;
  font-size: 20px;
  font-family: Nova Square;
  border-style: solid;
  border-color: #df8107;
  border-width: 5px;
}

.img {
  width: 250px;
  height: 80px;
}
